<!--Footer-part-->

<div class="row-fluid">
	<div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
	<div style="text-align: center">
		<a target="_blank" href="http://open.1688.com/doc/api/cn/message.htm?ns=cn.alibaba.open&n=offerDetailInfo&t=1" title="">alibaba文档</a> <a target="_blank" href="http://gw.api.alibaba.com/dev/doc/intl/message.htm?ns=aliexpress.open&n=aeopAeProductSKUs&t=1" title="">SMT文档</a> 
		<a target="_blank" href="/vender/matrix-admin00/index.html" title="">UI</a>
	</div>
</div>
<!--end-Footer-part-->
